
.infoSection {
    border: var(--default-border);
    border-radius: 2px;
    max-width: 50rem;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    background-color: white;
}

.infoSections {
    padding: 10px;
}

div.infoSection hr {
    border-top: var(--default-border);
}

div.infoBody {
    padding:10px;
    text-align: left;
}