body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: 
        linear-gradient(
            rgba(211, 255, 235, 0.9), 
            rgba(210, 255, 253, 0.8)
        ),
        url("./images/happy-students.jpeg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* --default-border: 3px solid lightseagreen; */
  --default-border: 3px solid rgb(85, 85, 85);
  --background-color: black;
}
